<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>name</key>
		<string>家常菜</string>
		<key>parentId</key>
		<string>10001</string>
	</dict>
	<dict>
		<key>id</key>
		<string>2</string>
		<key>name</key>
		<string>快手菜</string>
		<key>parentId</key>
		<string>10001</string>
	</dict>
	<dict>
		<key>id</key>
		<string>3</string>
		<key>name</key>
		<string>创意菜</string>
		<key>parentId</key>
		<string>10001</string>
	</dict>
	<dict>
		<key>id</key>
		<string>4</string>
		<key>name</key>
		<string>素菜</string>
		<key>parentId</key>
		<string>10001</string>
	</dict>
	<dict>
		<key>id</key>
		<string>5</string>
		<key>name</key>
		<string>凉菜</string>
		<key>parentId</key>
		<string>10001</string>
	</dict>
	<dict>
		<key>id</key>
		<string>6</string>
		<key>name</key>
		<string>烘焙</string>
		<key>parentId</key>
		<string>10001</string>
	</dict>
	<dict>
		<key>id</key>
		<string>7</string>
		<key>name</key>
		<string>面食</string>
		<key>parentId</key>
		<string>10001</string>
	</dict>
	<dict>
		<key>id</key>
		<string>8</string>
		<key>name</key>
		<string>汤</string>
		<key>parentId</key>
		<string>10001</string>
	</dict>
	<dict>
		<key>id</key>
		<string>9</string>
		<key>name</key>
		<string>自制调味料</string>
		<key>parentId</key>
		<string>10001</string>
	</dict>
</array>
</plist>
